.tags-filter {
  margin: 0 24px 0px 24px;
}

.tags-item {
  display: inline-flex;
  padding: 17px 18px;
  margin-right: 10px;
  margin-bottom: -15px;
  align-items: center;
  gap: 60px;
  border-radius: 10px;
  background: var(--Yellow);
  font-family: Manrope;
  font-size: 14px;
}

.close-tag-btn {
  cursor: pointer;
}

.tag-hidden {
  display: none;
}
